set indicator
set jumpyscrolling
set linenumbers
set minibar
set nonewlines
set nowrap
set quickblank
set tabsize 4
set unix
unset historylog

set functioncolor #088
set keycolor #0cc
set minicolor #0cc
set numbercolor #066
set promptcolor #0cc
set scrollercolor #088
set titlecolor #0cc

bind ^Z suspend main
include "~/.config/nano/syntax/*.nanorc"
include "~/.config/nano/syntax/extra/*.nanorc"
